
@media screen and (min-width: 1200px){

}

@media screen and (max-width: 1200px){
	#container-navbar{
		padding: 0 100px;
	}

	.container-content{
		padding: 0 100px;
	}

	.container-list-portofolio{
		/*padding: 20px;*/
		width: 47%;
	}

	.container-image-portofolio{
		height: 230px;
	}

}

@media screen and (max-width: 992px){
	#container-navbar{
		padding: 0 80px;
	}

	.container-content{
		padding: 0 80px;
	}
}

@media screen and (max-width: 768px){

	#container-navbar{
		padding: 0 40px;
	}

	.container-content{
		padding: 0 40px;
	}

	.container-nav-link{
		display: none;
	}

	.container-image-portofolio{
		height: 180px;
	}
}

@media screen and (max-width: 576px){
	/*#container-navbar{
		padding: 0 60px;
	}

	.container-content{
		padding: 0 60px;
	}*/

	.container-nav-link{
		display: none;
	}

	.container-grid{
		width: 85%;
		/*background-color: teal;*/
		grid-template-columns: repeat(auto-fill, 130px);
		grid-auto-rows: 130px;
		place-content: center;
		grid-gap: 30px;
	}

	.list-skill-item h3{
		font-size: 1em;
		background-color: steelblue;
	}

	.container-logo-skill{
		background-color: whitesmoke;
		width: 60px;
		height: 60px;
	}

	.container-list-portofolio{
		/*padding: 20px;*/
		width: 100%;
		padding: 0 60px;
	}

	.container-image-portofolio{
		height: 230px;
	}
}








































