
@media screen and (min-width: 1200px){

}

@media screen and (max-width: 1200px){
	#container-navbar{
		padding: 0 100px;
	}

	.container-content{
		padding: 0 100px;
	}

	.container-list-portofolio{
		/*padding: 20px;*/
		width: 47%;
	}

	.container-image-portofolio{
		height: 230px;
	}

}

@media screen and (max-width: 992px){

	#container-navbar{
		padding: 0 80px;
	}

	#logo{
		font-size: 1.5em;
	}

	.container-content{
		padding: 0 80px;
	}

	.container-title-section{
		margin-bottom: 4vh;
	}

	.container-list-portofolio{
		width: 46%;
	}

	.container-image-portofolio{
		height: 200px;
	}
}

@media screen and (max-width: 768px){

	#container-navbar{
		height: 65px;
		padding: 0 40px;
		/*background-color: teal;*/
	}

	#logo{
		font-size: 1.3em;
	}

	.btn-responsive-nav-link{
		display: inline-block;
		float: right;
		width: auto;
		height: auto;
	}

	.btn-responsive-nav-link i{
		color: #ff7675;
		font-size: 28px;
	}

	.btn-responsive-nav-link i:hover{
		cursor: pointer;
	}

	.container-content{
		padding: 0 40px;
	}

	.container-nav-link{
		display: none;
	}

	.container-title-section{
		margin-top: 100px;
		margin-bottom: 3vh;
		font-size: 1.1em;
		border-bottom: 3px solid steelblue;
	}

	.container-grid{
		grid-template-columns: repeat(auto-fill, 130px);
		grid-auto-rows: 130px;
		grid-gap: 20px;
	}

	.container-logo-skill{
		width: 65px;
		height: 65px;
	}

	.list-skill-item h3{
		font-size: 0.8em;
	}

	.container-list-portofolio{
		width: 47%;
	}

	.container-image-portofolio{
		height: 180px;
	}

	.title-project-portofolio{
		font-size: 1em;
	}

	/*.container-tag-category{
		padding: 0 15px;
	}*/

	.tag-category-portofolio{
		font-size: 11px;
	}
}

@media screen and (max-width: 576px){
	/*#logo{
		font-size: 1.5em;
	}*/

	.container-nav-link{
		display: none;
	}

	.container-grid{
		grid-template-columns: repeat(auto-fill, 105px);
		grid-auto-rows: 105px;
		grid-gap: 10px;
	}

	.container-logo-skill{
		width: 50px;
		height: 50px;
	}

	.list-skill-item h3{
		font-size: 0.7em;
	}

	.container-list-portofolio{
		width: 100%;
	}

	.container-image-portofolio{
		height: 250px;
	}
}








































