
@media screen and (min-width: 1200px){

}

@media screen and (max-width: 1200px){
	#container-navbar{
		padding: 0 100px;
	}

	.container-content{
		padding: 0 100px;
	}

	.container-list-portofolio{
		/*padding: 20px;*/
		width: 47%;
	}

	.container-image-portofolio{
		height: 230px;
	}

}

@media screen and (max-width: 992px){

	#container-navbar{
		padding: 0 80px;
	}

	#logo{
		font-size: 1.5em;
	}

	.container-content{
		padding: 0 80px;
	}

	.container-list-portofolio{
		width: 100%;
	}

	.container-image-portofolio{
		height: 550px;
	}
}

@media screen and (max-width: 768px){

	#container-navbar{
		padding: 0 40px;
	}

	.btn-responsive-nav-link{
		display: inline-block;
		float: right;
		width: auto;
		height: auto;
	}

	.btn-responsive-nav-link i{
		color: #ff7675;
		font-size: 28px;
	}

	.btn-responsive-nav-link i:hover{
		cursor: pointer;
	}

	.container-content{
		padding: 0 40px;
	}

	.container-nav-link{
		display: none;
	}

	.container-grid{
		grid-template-columns: repeat(auto-fill, 140px);
		grid-auto-rows: 140px;
	}

	.container-logo-skill{
		width: 65px;
		height: 65px;
	}

	.container-image-portofolio{
		height: 430px;
	}
}

@media screen and (max-width: 576px){
	#logo{
		font-size: 1.5em;
	}

	.container-nav-link{
		display: none;
	}

	.container-grid{
		grid-template-columns: repeat(auto-fill, 140px);
		grid-auto-rows: 140px;
	}

	.container-logo-skill{
		width: 65px;
		height: 65px;
	}

	.container-image-portofolio{
		height: 300px;
	}
}








































