
	*{
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		scroll-behavior: smooth;
	}

	#container-navbar{
		position: fixed;
		z-index: 99;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 75px;
		padding: 0 120px;
		background-color: white;
		box-shadow: 1px 1px 3px #ddd;
	}

	#logo{
		font-size: 1.9em;
		color: #ff7675;
		/*letter-spacing: 1px;*/
	}

	.container-nav-link{
		display: flex;
		width: auto;
		justify-content: center;
		align-items: center;
		/*background-color: whitesmoke;*/
	}

	.container-nav-link a{
		width: auto;
		height: auto;
		padding: 11px 20px;
		border-radius: 3px;
		text-decoration: none;
		color: #b2bec3;
		font-size: 1em;
		letter-spacing: 1px;
		/*font-weight: 600;*/
		transition-duration: 0.4s;
		/*background-color: teal;*/
	}

	.container-nav-link a:hover{
		cursor: pointer;
		color: dimgray;
		background-color: whitesmoke;
	}

	.container-nav-link a.active{
		background-color: #ff7675;
		color: white;
		cursor: pointer;
	}

	.container-content{
		display: inline-block;
		float: left;
		width: 100%;
		height: auto;
		padding: 0 120px 50px;
		background-color: whitesmoke;
	}

	#about-section{
		height: 100vh;
		background-color: white;
	}

	#skill-section{
		height: auto;
		background-color: #55efc4;
		background-color: whitesmoke;
	}

	.container-title-section{
		display: inline-block;
		float: left;
		width: 100%;
		height: auto;
		margin-top: 6vh;
		margin-bottom: 6vh;
		text-align: center;
		letter-spacing: 2px;
		font-size: 1.8em;
		color: dimgray;
	}

	.container-grid{
		display: grid;
		width: 100%;
		height: auto;
		/*padding: 10px;*/
		padding: 20px 0;
		margin: 0 auto;
		border-radius: 5px;
		/*background-color: white;*/
		grid-template-columns: repeat(auto-fill, 150px);
		grid-auto-rows: 150px;
		grid-gap: 40px;
		place-content: center;
		/*grid-gap: 40px;*/
	/*	place-content: space-evenly;*/
		/*place-items: center;*/
	}

	.list-skill-item{
		display: grid;
		place-content: center;
		grid-row-gap: 15px;
		background-color: white;
		border: 1px solid whitesmoke;
		border-radius: 5px;
		box-shadow: 3px 3px 6px #ddd;
		text-align: center;
	}


	.list-skill-item i{
		font-size: 5em;
	}

	.list-skill-item i.item-html{
		color: steelblue;
	}

	.list-skill-item i.item-css{
		color: tomato;
	}

	.list-skill-item i.item-boostrap{
		color: #a55eea;
	}

	.list-skill-item i.item-javascript{
		color: #ffd32a;
	}

	.list-skill-item i.item-php{
		color: steelblue;
	}

	.list-skill-item i.item-laravel{
		color: #fc5c65;
	}

	.list-skill-item i.item-wordpress{
		color: steelblue;
	}

	.list-skill-item i.item-figma{
		color: lightblue;
	}

	.list-skill-item i.item-github{
		color: black;
	}

	.list-skill-item h3{
		display: inline-block;
		/*background-color: steelblue;*/
		font-size: 1.2em;
		letter-spacing: 1px;
		color: gray;

	}

	.container-logo-skill{
		width: 80px;
		height: 80px;
		/*background-color: whitesmoke;*/
		border-radius: 5px;
		overflow: hidden;
	}

	.container-logo-skill img{
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		/*border: 1px solid #ddd;*/
	}

	#portofolio-section{
		background-color: white;
	}

	#container-portofolio-content{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		place-content: space-between;
		width: 100%;
		height: auto;
		/*background-color: whitesmoke;*/
	}

	.container-list-portofolio{
		display: inline-block;
		width: 30%;
		height: auto;
		/*margin-right: 10px;*/
		margin-bottom: 30px;
		/*padding: 10px 13px 8px;*/
		/*background-color: teal;*/
		border-radius: 5px 5px;
	}

	.container-image-portofolio{
		display: inline-block;
		float: left;
		width: 100%;
		height: 150px;
		border-radius: 5px 5px 0 0;
		background-color: #74b9ff;
		/*box-shadow: 3px 0px 8px #ddd;*/
	}

	.container-info-uploaded-portofolio{
		display: inline-block;
		float: left;
		width: 100%;
		height: 40px;
		padding: 0 20px;
		background-color: whitesmoke;
		color: dimgray;
		font-size: 12px;
		/*box-shadow: 3px 0px 8px #ddd;*/
	}

	.uploaded-name{
		display: inline-block;
		float: left;
		line-height: 40px;
	}

	.uploaded-time{
		display: inline-block;
		float: right;
		line-height: 40px;
	}

	.container-info-portofolio{
		display: inline-block;
		float: left;
		width: 100%;
		height: auto;
		padding: 10px 20px 20px;
		/*background-color: tomato;*/
		border-radius: 0 0 5px 5px;
		border: 1px solid whitesmoke;
		box-shadow: 3px 3px 8px #ddd;
	}

	.title-project-portofolio{
		width: 100%;
		height: auto;
		padding: 10px 0px 3px;
		font-size: 22px;
		color: dimgray;
		letter-spacing: 1px;
	}

	.container-description-portofolio{
		display: inline-block;
		float: left;
		width: 100%;
		height: auto;
		text-align: justify;
		font-size: 15px;
		line-height: 20px;
		color: dimgray;
	}

	.container-tag-category{
		display: inline-block;
		float: 100%;
		height: auto;
		margin-top: 30px;
		b/*ackground-color: whitesmoke;*/
	}

	.tag-category-portofolio{
		display: inline-block;
		float: left;
		width: auto;
		height: auto;
		padding: 8px 13px;
		margin: 0 10px 10px 0;
		border-radius: 3px;
		border: 1px solid steelblue;
		color: steelblue;
		font-size: 12px;
		letter-spacing: 1px;
		font-weight: 600;

	}

	.html5{
		border: 1px solid tomato;
		color: tomato;
	}

	.css3{
		border: 1px solid steelblue;
		color: steelblue;
	}

	.javascript{
		border: 1px solid #fbc531;
		color: #fbc531;
	}

	.jquery{
		border: 1px solid #1abc9c;
		color:  #1abc9c;
	}

	.php{
		border: 1px solid #7f8c8d;
		color:  #7f8c8d;
	}

	.mysql{
		border: 1px solid #95a5a6;
		color:  #95a5a6;
	}

	#contact-section{
		height: 100vh;
		background-color: whitesmoke;
	}







































