
	*{
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		scroll-behavior: smooth;
	}

	#container-navbar{
		position: fixed;
		z-index: 99;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 75px;
		padding: 0 120px;
		background-color: white;
		box-shadow: 1px 1px 3px #ddd;
	}

	#logo{
		font-size: 1.7em;
		color: #ff7675;
		/*letter-spacing: 1px;*/
	}

	.btn-responsive-nav-link{
		display: none;
	}

	.container-nav-link{
		display: flex;
		width: auto;
		justify-content: center;
		align-items: center;
		/*background-color: whitesmoke;*/
	}

	.container-nav-link a{
		width: auto;
		height: auto;
		padding: 11px 20px;
		border-radius: 3px;
		text-decoration: none;
		color: #b2bec3;
		font-size: 0.9em;
		letter-spacing: 1px;
		/*font-weight: 600;*/
		transition-duration: 0.4s;
		/*background-color: teal;*/
	}

	.container-nav-link a:hover{
		cursor: pointer;
		color: dimgray;
		background-color: whitesmoke;
	}

	.container-nav-link a.active{
		background-color: #ff7675;
		color: white;
		cursor: pointer;
	}

	.container-content{
		display: inline-block;
		float: left;
		width: 100%;
		height: auto;
		padding: 0 120px 50px;
		background-color: whitesmoke;
	}

	#about-section{
		height: 100vh;
		background-color: white;
	}

	#skill-section{
		height: auto;
		background-color: #55efc4;
		background-color: whitesmoke;
		text-align: center;
	}

	.container-title-section{
		display: inline-block;
		width: auto;
		height: auto;
		padding-bottom: 3px;
		margin-top: 8vh;
		margin-bottom: 3vh;
		/*border-bottom: 3px solid steelblue;*/
		text-align: center;
		font-size: 1.3em;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: gray;
	}

	.container-grid{
		display: grid;
		width: 100%;
		height: auto;
		/*padding: 10px;*/
		padding: 20px 0;
		margin: 0 auto;
		border-radius: 5px;
		/*background-color: white;*/
		grid-template-columns: repeat(auto-fill, 130px);
		grid-auto-rows: 130px;
		grid-gap: 30px;
		place-content: space-between;
		/*grid-gap: 40px;*/
	/*	place-content: space-evenly;*/
		/*place-items: center;*/
	}

	.list-skill-item{
		display: grid;
		grid-row-gap: 15px;
		align-content: center;
		background-color: white;
		border: 1px solid #ddd;
		border-radius: 5px;
		box-shadow: 3px 3px 6px #ddd;
		text-align: center;
		transition-duration: 0.3s;
	}

	.list-skill-item:hover{
		transform: scale(1.1);
	}


	.list-skill-item i{
		font-size: 5em;
	}

	.list-skill-item i.item-html{
		color: steelblue;
	}

	.list-skill-item i.item-css{
		color: tomato;
	}

	.list-skill-item i.item-boostrap{
		color: #a55eea;
	}

	.list-skill-item i.item-javascript{
		color: #ffd32a;
	}

	.list-skill-item i.item-php{
		color: steelblue;
	}

	.list-skill-item i.item-laravel{
		color: #fc5c65;
	}

	.list-skill-item i.item-wordpress{
		color: steelblue;
	}

	.list-skill-item i.item-figma{
		color: lightblue;
	}

	.list-skill-item i.item-github{
		color: black;
	}

	.list-skill-item h3{
		display: grid;
		/*place-items: start center;*/
		width: auto;
		height: auto;
		font-size: 1em;
		color: dimgray;
		/*background-color: steelblue;*/
	}

	.container-logo-skill{
		display: grid;
		width: 60px;
		height: 60px;
		margin: auto;
		/*background-color: whitesmoke;*/
		border-radius: 5px;
		overflow: hidden;
	}

	.container-logo-skill img{
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		/*border: 1px solid #ddd;*/
	}

	#portofolio-section{
		background-color: white;
		text-align: center;
	}

	#container-portofolio-content{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		place-content: space-between;
		width: 100%;
		height: auto;
		margin-top: 4vh;
		/*background-color: #ddd;*/
	}

	.container-list-portofolio{
		display: inline-block;
		width: 45%;
		height: auto;
		/*margin-right: 10px;*/
		margin-bottom: 30px;
		/*padding: 10px 13px 8px;*/
		/*background-color: teal;*/
		border-radius: 5px 5px;
	}

	.sub-container-list-portofolio{
		display: inline-block;
		width: auto;
		height: auto;
		box-shadow: 3px 3px 8px #ddd;
		border-radius: 5px;
	}

	.container-image-portofolio{
		display: inline-block;
		float: left;
		width: 100%;
		height: 300px;
		padding: 10px;
		background-color: #74b9ff;
		border-radius: 5px 5px 0 0;
		/*box-shadow: 3px 0px 8px #ddd;*/
	}

	.container-image-portofolio img{
		width: 100%;
		height: 100%;
		border-radius: 5px;
		background-position: center;
		background-size: cover;
	}

	.container-info-uploaded-portofolio{
		display: inline-block;
		float: left;
		width: 100%;
		height: 40px;
		padding: 0 20px;
		background-color: #74b9ff;
		color: dimgray;
		font-size: 12px;
		/*box-shadow: 3px 0px 8px #ddd;*/
	}

	.uploaded-name{
		display: inline-block;
		float: left;
		line-height: 40px;
	}

	.uploaded-time{
		display: inline-block;
		float: right;
		line-height: 40px;
	}

	.container-info-portofolio{
		display: inline-block;
		float: left;
		width: 100%;
		height: auto;
		margin-top: 10px;
		padding: 10px 20px 20px;
		background-color: white;
		border-radius: 0 0 5px 5px;
		/*border: 1px solid whitesmoke;*/
	}

	.title-project-portofolio{
		width: 100%;
		height: auto;
		padding: 10px 0px 3px;
		font-size: 1.3em;
		color: dimgray;
		letter-spacing: 1px;
	}

	.container-description-portofolio{
		display: inline-block;
		float: left;
		width: 100%;
		height: auto;
		/*text-align: justify;*/
		font-size: 0.9em;
		/*letter-spacing: 1px;*/
		line-height: 20px;
		color: dimgray;
	}

	.container-tag-category{
		display: inline-block;
		float: left;
		width: 100%;
		height: auto;
		padding: 0 8px 0 18px;
		margin-top: 50px;
		/*background-color: #74b9ff;*/
	}

	.tag-category-portofolio{
		display: inline-block;
		float: left;
		width: auto;
		height: auto;
		padding: 8px 13px;
		margin: 0 10px 10px 0;
		border-radius: 3px;
		border: 1px solid steelblue;
		color: steelblue;
		font-size: 12px;
		letter-spacing: 1px;
		font-weight: 600;

	}

	.html5{
		border: 1px solid tomato;
		background-color: tomato;
		color: white;
	}

	.css3{
		border: 1px solid steelblue;
		background-color: steelblue;
		color: white;
	}

	.javascript{
		border: 1px solid #fbc531;
		background-color: #fbc531;
		color: white;
	}

	.jquery{
		border: 1px solid #1abc9c;
		background-color:  #1abc9c;
		color: white;
	}

	.php{
		border: 1px solid #7f8c8d;
		background-color:  #7f8c8d;
		color: white;
	}

	.mysql{
		border: 1px solid #95a5a6;
		background-color:  #95a5a6;
		color: white;
	}

	#contact-section{
		height: 100vh;
		background-color: whitesmoke;
	}







































